{% extends 'base.html' %}
{% load custom_filters %}

{% block style %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    
    <h2>{{ view.action }} Tarefas</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        {{ form.media}}
        

        <h3>Estimativa de tempo</h3>        
        {{ time_entry_formset.management_form }}
         {% for form in time_entry_formset %}
         
            <div class="form-group">
                {{ form.as_p }}  {# Renderiza os campos do TimeEntryForm #}
            </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>

{% endblock %}

{% block js %}
{% endblock %}