{% extends 'base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Excluir Perfil</h2>
    <p>Tem certeza que deseja excluir o perfil de <b class="text-danger">{{ profiles.username }}</b>?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sim, Excluir</button>
        <a href="{% url 'profile_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
{% block js %}
{% endblock %}
